<?xml version="1.0" encoding="utf-8" ?>
<!--感觉使用resx文件作为多语言配置也很麻烦，改用config配置文件试试-->
<!--configSections必须在configuration下第一个节点-->
<!--更改appSettings中chargelang的值选择程序语言-->
<!--语言节点格式规则为lang+“_”+大写字母的语言简写+“_”+窗体名称，如要变更规则需修改程序程序判断；窗体名称如有更改，需要确认Designer.cs里面是否匹配，避免混淆弄错-->
<!--语言内key为控件名，value为需要显示的控件名称，如不知道控件名，将chargelang改成不存在的语言节点后运行程序即可知道控件名-->
<!--如果按钮显示配置文件出错的情况，查看section里面的name，需要跟后面<>内的名称完全一致 -->
<!--dataGridView的标题栏程序内切换语言后需要重新获取一遍数据-->
<configuration>
	<configSections>
		<section name="lang_CN_Form1" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_JP_Form1" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_EN_Form1" type="System.Configuration.NameValueSectionHandler" />
		
		<section name="lang_CN_Form2" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_EN_Form2" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_JP_Form2" type="System.Configuration.NameValueSectionHandler" />

		<section name="lang_CN_Form3" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_JP_Form3" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_EN_Form3" type="System.Configuration.NameValueSectionHandler" />

		<section name="lang_CN_frm_Test22" type="System.Configuration.NameValueSectionHandler" />
		<section name="lang_JP_frm_Test22" type="System.Configuration.NameValueSectionHandler" />
		
	</configSections>
	<appSettings>
		<add key="chargelang" value="EN"/>
		<add key="appNameCN" value="使用配置文件实现多语言程序功能"/>
		<add key="appNameEN" value="Using Configuration Files to Realize Multilingual Program Function"/>
		<add key="appNameJP" value="構成ファイルを使用して多言語プログラム機能を実現する"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlConn" connectionString="Data Source=.;Initial Catalog=ExManage;Persist Security Info=True;User ID=sa;Password=123456" />
	</connectionStrings>
	
	<lang_CN_Form1>
		<add key="toolStripMenuItem1" value="菜单1" />
		<add key="toolStripMenuItem2" value="菜单2" />
		<add key="toolStripMenuItem4" value="菜单1-1" />
		<add key="toolStripStatusLabel1" value="底部提示信息"/>
		<add key="语言切换toolStripMenuItem" value="语言切换" />
	</lang_CN_Form1>
	<lang_EN_Form1>
		<add key="toolStripMenuItem1" value="m1" />
		<add key="toolStripMenuItem2" value="m2" />
		<add key="toolStripMenuItem4" value="m1-1" />
		<add key="语言切换toolStripMenuItem" value="change language" />
	</lang_EN_Form1>
	<lang_JP_Form1>
		<add key="toolStripMenuItem1" value="ファイル1" />
		<add key="toolStripMenuItem2" value="編集" />
		<add key="toolStripMenuItem4" value="菜单1-1" />
		<add key="toolStripStatusLabel1" value="ヘルプ "/>
		<add key="语言切换toolStripMenuItem" value="语言切换" />
	</lang_JP_Form1>

	<lang_CN_Form2>
		<add key="button1" value="按牛牛牛"/>
		<add key="tabPage1" value="选项菜单1"></add>
	</lang_CN_Form2>
	<lang_EN_Form2>
		<add key="button1" value="anniu"/>
		<add key="tabPage1" value="tab1"></add>
	</lang_EN_Form2>
	<lang_JP_Form2>
		
	</lang_JP_Form2>

	<lang_CN_Form3>
		<add key="button1" value="第三个窗口的按钮"/>
	</lang_CN_Form3>
	<lang_EN_Form3>
		<add key="button1" value="three window button"/>
	</lang_EN_Form3>
	<lang_JP_Form3>
		<add key="button1" value="3 ウィンドウ ボタン"/>
	</lang_JP_Form3>
	
	<lang_CN_frm_Test22>
		<add key="button1" value="第二个窗口按钮"/>
		<add key="dataGridView1_0" value="数据栏1"/>
		<add key="dataGridView1_1" value="数据栏2"/>
	</lang_CN_frm_Test22>
	<lang_JP_frm_Test22>
		<add key="button1" value="ボタン"/>
		<add key="dataGridView1_0" value="データ1"/>
		<add key="dataGridView1_1" value="データ2"/>
		<add key="dataGridView1_2" value="データ3"/>
		
	</lang_JP_frm_Test22>

</configuration>